<% email ||= '' %>
<% if email.present? %>
	<h1>Welcome, <%= email %>!</h1>
	<h3>App installed.</h3>
<% else %>
  <h2>Please login to <%= link_to('bigcommerce', 'https://login.bigcommerce.com/login') %>, then create new app and install it.</h2>
<% end %>
