<% store_info ||= '' %>
<% if store_info.present? %>
    <!-- <iframe src="https://6b59a3aa.ngrok.io/load?signed_payload=<%= @abc %>" width="900px" height="600px" /> -->
    <iframe src="https://bigcommerce.cleverecommerce.com/users/sign_in" width="1035px" height="600px" />


    <!-- <p class="lead">
      <%#= render partial: 'home/store_info', locals: { store_info: store_info } %>
    </p> -->
<% else %>
  <h2>Please login to <%= link_to('bigcommerce', 'https://login.bigcommerce.com/login') %>, then create new app and install it.</h2>
<% end %>
